.phrase-page {
  overflow: hidden;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

.phrase-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* scroll only if content overflows */
  padding: 10rem;
}

.phrase-content {
  display: grid;
  place-content: center;
  height: auto;
}

.phrase-card {
  text-align: center;
  max-width: 90%;
  padding: 3rem 2rem;
}

.phrase-spanish {
  font-size: 24px;
  font-weight: 500;
  color: #0f172a;
  margin: 0 0 1.5rem 0;
}

.phrase-english {
  font-size: 18px;
  color: #1e293b;
  margin: 0 0 1.5rem 0;
}

.phrase-phonetic {
  font-size: 12px;
  color: #334155;
  font-style: italic;
  margin: 0;
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 92px);
  color: #0f172a;
  padding: 0 3rem;
  text-align: center;

  p {
    margin: 0 auto;
  }
}
